
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100; 0,300; 0,400; 0,500; 0,700; 0,900; 1,100; 1,300; 1,400; 1,500; 1,700; 1.900&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
    
}



.RulesGame {

    display: flex;
    background-color: #1f83bd;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    height: 45px;

}

.ganadorRifa {

    margin-bottom: 10px;
    box-shadow: 0px 2px 10px rgba(160, 143, 143, 0.1);

}

.RulesGame ul li {
    list-style: none;
}

.RulesGame li {
    margin-left: 10px;
}

.RulesGame a {
    text-decoration: none;
    color: white;
}


.logo {

    display: flex;
    justify-content: center;

}

.SpecialBox {

    display: grid;
    background-image: url('./images/image_principal.jpg');
    height: 400px;
    padding: 20px;
    justify-content: flex-end;
    align-items: center;
    
}

.SpecialBox h2 {

    display: flex;
    letter-spacing: 0.1em;
}

.valorColor {

    color: red;
}


// Watch // 

p {

    margin:0px;
    padding:0px;    

}

.reloj {

    color: black;   
    width: 205px;
    height: 40px;
    background: #ffff;
    
}

.fecha {
    
    
    letter-spacing: 0.1em;
    
}

.tiempo {

    letter-spacing: 0.1em;

}

.Boleteria {

    height: 300px;
    padding: 5%;
}



.image {

    height: 200px;
    width: 150px;
}

.search {
    
    text-align: center;
    margin-top: 15px;
    height: 120px;
    padding: 20px;
}

h3 {
    margin-bottom: 20px;
}

.buscar-input {

    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.1);

}

.buscar-button {

    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease;


}

.estadoLoad {


    display: flex;
    flex-wrap: wrap;

}

li {

    list-style: none;

}
.slick ul {

    display: block;
    text-align: center;
    margin-top: 10px;
}

.results {

    list-style: none;
    margin-top: 20px;
}

.results li {

    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 10px;
    color: #333;
    font-size: 16px;


}

.carrousel {

    margin: 0;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.carrousel h2 {

    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: -9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

.slick-list {

    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 384px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;

}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.slick {
    
    position: relative;
    width: 180px;
    height: 100%;
    padding: 0 10px;
    float: left;
    box-sizing: border-box;
    display: inline-flex;

}


.slick img {

    object-fit: cover;
    height: 250px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
}

.slick-arrow {
    border-radius: 30px;
    background-color: #ff5931;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;

}

.slick-arrow:focus{
    outline: 0;

}


.slick-prev {
    left: 0px;
}

.slick-next {
    right: 0px;
}

.CallToAction {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.1);
   
}

.CallToAction li {
    list-style: none;;
}

.CallToAction a {

    text-decoration: none;
    color: #f9f9f9;
    font-size: 16px;
}

.comprar {

    width: 200px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.1);
    background-color: #1f83bd;
    border: none;
}


.ContainerRuleGame {

    padding: 50px;
    background-color: #f2f3f3;

}

.titleRulesGame {

    text-align: center;
    margin-bottom: 20px;
}

.messageRuleGame {

    text-align: center;
    color: #1f83bd;

}

.containerEstrategia {

    height: 100vh;
    padding: 50px;
    background-color: #f2f3f3;

}

.titleNosotros {

    text-align: center;
    margin-bottom: 20px;
}

.containerGanadores {

    padding: 50px;
    background-color: #f2f3f3;
}

.titleGanadores {

    text-align: center;
    margin-bottom: 20px;
}



.footer {

    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;

}


@media screen and (min-width : 375px) and (max-width : 480px) {


    .search{

        margin-top: 15px;

    }

    .containerSpecialBox {

        text-align: center;
        display: ruby;
    }

    .reloj {

    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff6b;
    font-weight: 600;

    }

    .CallToAction {
        box-shadow: none;
    }

    .SpecialBox h2 {

        background-color: #ffffff6b;
        text-shadow: -1px -1px white, 1px 1px #333
    }

    .ganadorRifa h2 {

        letter-spacing: 0;
    }

}



@media screen and (min-width : 320px) and (max-width : 374px) {


    .search{

        margin-top: 0px;
        height: 30vh;
    }

    .search button {

        margin-top: 10px;
    }

    .containerSpecialBox {

        text-align: center;
        display: ruby;
    }

    .reloj {

    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff6b;
    font-weight: 600;

    }

    .CallToAction {
        box-shadow: none;
    }

    .SpecialBox h2 {

        background-color: #ffffff6b;
        text-shadow: -1px -1px white, 1px 1px #333
    }

    .ganadorRifa h2 {

        letter-spacing: 0;
    }

}

